.body {
    padding: 20px;
    background: url('/src/assets/img/black.jpg');
    background-size: cover;
    height: 100%;
  }
  .custom-btn {
    background: black;
    color: yellow;
  }
  .top-btn {
    display: flex;
  }
  #score {
    background: yellow;
    color: black;
    margin-right: 10px;
  }
  .custom-container {
    background: black;
    color: yellow;
    margin: 8px 0px;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid white;
  }
  .type-2 {
    border: none;
    background: yellow;
    color: black;
    border-radius: 30px;
    padding: 5px;
    width: 40px;

  }